* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.input-city {
  text-align: center;
  margin: 100px 0;
}

input[type="text"] {
  height: 50px;
  width: 600px;
  background: #e7e7e7;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  padding: 10px 10px;
}

input[type="submit"] {
  height: 50px;
  width: 100px;
  background: #e7e7e7;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
}

.display-weather {
  text-align: center;
  background-color: #dcdcdc;
  color: #2f4f4f;
  width: 20%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.display-weather img {
  vertical-align: middle;
}

.city-desc {
  margin-top: 10px;
}
